<%- include('partials/header') -%>

    <main class="container">
        
        <div class="container my-5 d-flex">
            <div class="row col justify-content-around align-items-center mt-5 btn-center">
                <a href="/login" class="col-3 btn btn-primary"> Login</a>
                <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
            </div>
        </div>

    </main>


    <%- include('partials/footer') -%>