h1 a {
  color: black;
  text-decoration: none;
}

.btn-primary {
  background-color: #7353ba;
  border-color: #7353ba;
}

.btn-primary:hover {
  background-color: #654b95;
  border-color: #654b95;
}

#go-to-feed-btn {
  margin-top: 78px;
}
